.movie {
    position: relative;
    background-color: white;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.225);
    width: min(100%, 450px);
    box-sizing: border-box;
    padding: 8px;
    font-size: 12px;
}

.movie__img {
    margin-right: 8px;
    width: 60px;
    height: 90px;
    float: left;
}

.movie__title {
    font-size: 20px;
    margin: 0;
}

.movie__vote {
    float: right;
    text-align: center;
    line-height: 30px;
    border: 2px solid black;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.movie__date {
    color: #827e7e;
}

.movie__genres {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding-top: 10px;
}

.movie__genre {
    display: inline-block;
    color: rgba(0, 0, 0, 0.65);
    line-height: 14.52px;
    background: #FAFAFA;
    border: 1px solid #D9D9D9;
    padding: 2px;
}

.movie__description {
    line-height: 22px;
    padding-bottom: 16px;
    margin-top: 12px;
}

.movie__rate {
    position: absolute;
    bottom: 8px;
    right: 0;
    font-size: 16px;
    width: 240px;
    padding-top: 8px;
}

@media (min-width: 1010px) {
    .movie {
        box-shadow: 0px 4px 12px 0px #00000026;
        width: 450px;
        min-height: 280px;
        padding: 0;
        padding-right: 8px;
    }

    .movie__img {
        width: 186.66px;
        height: 280px;
        margin-top: auto;
        margin-bottom: auto;
    }

    .movie__title {
        font-size: 20px;
        margin: 0;
    }
}